{{>layouts/header}}

    <div class="bg-dark text-white p-5 mb-3" style="text-align:center">
        <h1>Todo List<br>할 일을 등록하고 관리해보세요!</h1>
    </div>
    <div class="btn-list">
        <a href="/todos/new" class="btn btn-primary ms-2">CREATE</a>
        <a href="/todos/list" class="btn btn-primary ms-2">List</a>
    </div>
{{>layouts/footer}}